/* ヘッダーロゴ */
:root {
    --vp-nav-logo-height: 40px;
}
.VPNavBar .logo + span {
    display: none;
}

/* Hero セクションの背景 */
.VPNav {
    background-color: rgba(from var(--vp-nav-bg-color) r g b / 50%);
    backdrop-filter: blur(10px);
}
.VPHero {
    position: relative;

    min-height: 50vh;

    margin-bottom: 2em;
}
.VPHero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, transparent, var(--vp-c-bg)), url("/pikimerin/assets/background.webp");
    background-size: cover;
    background-position: center;
    filter: blur(4px) opacity(90%);
    overflow: hidden;
    opacity: 0.8;
    pointer-events: none;
}
.VPHero .tagline {
    color: #808080;
}
@media (prefers-color-scheme: dark) {
    .VPHero .tagline {
        color: #c0c0c0;
    }
}
